/*CHECKING MORE TESTS*/

.hed-xl {
    font-family: var(--hed-font);
    font-size: var(--hed-xl);
    line-height: var(--hed-line-height);
}

.hed-l {
    font-family: var(--hed-font);
    font-size: var(--hed-l);
    line-height: var(--hed-line-height);
    font-weight: var(--text-weight);
}

.hed-m {
    font-family: var(--hed-font);
    font-size: var(--hed-m);
    line-height: var(--alt-line-height);
    font-weight: var(--text-weight);
}

.body {
    font-family: var(--hed-font);
    font-size: var(--body);
    line-height: var(--body-line-height);
    font-weight: var(--text-weight);
}

body {
    /*background: -webkit-linear-gradient(#002067, #FF3D94);*/
    background:white;
    color: var(--text-color);
    /*opacity:0;*/
    /*transition:all 1s ease;*/
}

#curtain {
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background:#fff;
	z-index:9999;
}

#grid-wrapper {
    overflow:hidden;
    background: -webkit-linear-gradient(#F9BADA, #D8DDFC);
}

a, a:visited {
    color: var(--text-color);
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    text-decoration-style:dashed;
}

p {
    font-family: var(--hed-font);
    font-size:var(--body);
    line-height:var(--body-line-height);
}

p a {
    text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight:normal;
}

ul {
    padding-left:0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/*body.viceland {
    background: -webkit-linear-gradient(#002067, #FF3D94);   
}

body.info {
    background: -webkit-linear-gradient(#FF4B8E, #FFEB72);   
}
*/

/**/
/*          COMPONENTS*/
/**/

.top-bar {
    margin-top:80px;
}

.top-bar li {
    margin-right:60px;
}

.top-bar li:last-child {
    margin-right:0;
}

.top-bar-left li, .title-bar-title , .panel-title {
    font-family:var(--hed-font);
}

.title-bar {
    margin-top:80px;
    margin-left: .625rem;
    margin-right: .625rem;
}

.title-bar span {
    float:left;
    display:block;
}

.title-bar {
    margin-top:80px;
    margin-left:.625rem;
    margin-right:.625rem;
}

.menu-text span {
    float:left;
    display:block;
}

@-webkit-keyframes arrowz {
    0% { transform: rotate(-45deg); opacity:0.1; }
    100% { transform: rotate(-180deg); opacity:1;}
}

@keyframes arrowz {
    0% { transform: rotate(-45deg); opacity:.1; }
    100% { transform: rotate(-180deg); opacity:1;}
}

#arrow {
    font-weight:800;
    opacity:0;
    -webkit-animation: arrowz .5s cubic-bezier(.97,.01,.22,1) 1 forwards;
    animation: arrowz .5s cubic-bezier(.97,.01,.22,1) 1 forwards;  
    position:relative;
}

#wrapper {
    margin-top:180px;
    margin-left:.625rem;
    margin-right:.625rem;
    /*opacity:0;*/
    /*transition:all 3s ease;*/
} 

#site-head {
    
    margin-bottom:180px;
}

#site-head a {
    text-decoration:underline;
}

#likes-dislikes {
    margin-bottom:180px;
}

#likes-dislikes h5 {
    text-decoration:underline;
    margin-bottom: 30px;
}

.likes li, .dislikes li {
    list-style:none;
}

#blog-list {
    margin-top:120px;
    margin-bottom:60px;
}
   
#blog-section a {
    text-decoration:underline;
}

#post-pagination a:hover {
    text-decoration:none;
}

/**/
/*          HP GRID*/
/**/

#work-section h5 {
    margin-bottom:60px;
}

.work-item {
    float: left;
    height:600px;
    overflow:hidden;
    position:relative;
    margin-bottom:60px;
    background:#36363C;
}

.work-item:hover .overlay-info {
    background-color:#36363C;
    opacity:1;                
}

.index-thumb {
    height:100%;
}

.project {
    z-index:100;
    position:relative;
    margin-bottom:1.875rem;
}

.project:hover + .thumb {
    display:block;
}

.thumb {
    width: 800px;
    height: 450px;
    position: fixed;
    top: 25vh;
    left: 50%;
    margin-left: -400px;
    display: none;
    z-index: -20;
}

.overlay-info {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#36363C;
    right: 0;
    bottom: 0;
    color: white;
    padding: 30px;
    opacity: 0;
    transition:all .3s ease;
    margin-bottom:0;
}

.overlay-info p {
    margin:10px 0 0;
}

.title {
    margin-bottom:30px;
}

#project-info {
    margin-bottom:60px;
}

#project-images img {
    width:100%;
    margin-bottom:60px;
}


/**/
/*          ABOUT PAGE*/
/**/

.info p, .info li {
    font-size:var(--hed-m);
}

.info-list {
    font-size:var(--body);
    line-height:var(--body-line-height);
    list-style:none;
    margin-left:0;
    margin-top:32px;
}

#info-row-1 {
    margin-bottom:60px;
}

/**/
/*          BLOG PAGE*/
/**/

.blog-item:hover {
    text-decoration:none;
}

.blog-item:hover h2 {
    /*text-decoration:underline;*/
    /*text-decoration-style: dashed;*/
}

.blog-item span {
    width:120px;
    height:8px;
    background-color:white;
    display:block;
}

.blog-item {
    margin-bottom:120px;
}

.dek {
    max-width:680px;
    margin-top:30px;
}

.dek span {
    margin-top:60px;
}

#blog-post-wrapper {
    margin-bottom:60px;
}

#blog-post-head {
    margin-bottom:30px;
}

#blog-post-content {
    max-width:680px;
    margin-bottom:60px;
}

#blog-post-sig {
    max-width:640px;
    margin-bottom:120px;
}

#blog-post-sig a {
    text-decoration: underline;
}

#blog-post-sig span {
    text-decoration: underline;
}

.wp-caption {
    margin:30px 0;
}

.wp-caption-text {
    margin-top: 5px;
    font-size: 14px;
    opacity: .8;
}

/*
/*          ARCHIVE PAGE*/
/**/

#archive-list {
	 list-style: decimal-leading-zero;
	/*-webkit-margin-before:0;*/
	margin-top:30px;
	font-family: var(--hed-font);
	/*font-size: var(--hed-m);*/
	/*margin-left:40px;*/
}

#archive-list li {
	margin-bottom:30px;
    font-size: var(--body);
}

/**/
/*          FOOTER*/
/**/

#footer {
    width:100%;
    padding:150px 0 120px;
}

#footer h5 {
    text-decoration:underline;
    margin-bottom: 30px;
}

#more li {
    list-style:none;
}

#contact li {
    list-style:none;
}

#contact a {
    text-decoration:underline;
}


@media (min-width: 950px) and (max-width: 1260px) {

    .grid {
        margin:0 15px;
    }

    #grid-wrapper {
        padding:0 45px;
    }

}

@media (min-width: 850px) and (max-width: 1080px) { 

    #grid-wrapper {
        padding:0 45px;
    }

.work-item {
        width:100%;
        height:478px;
        }

}

@media (min-width: 450px) and (max-width: 850px) { 

    #grid-wrapper {
        padding:0 15px;
    }

	.work-item {
        width:100%;
        height:338px;
        }

}

@media screen and (min-device-width: 300px) and (max-device-width: 425px) and (-webkit-min-device-pixel-ratio: 1) { 

    .hed-xl {
        font-size: var(--hed-xl-s);
    }

    .hed-l {
        font-size: var(--hed-l-s);
    }

    .hed-m {
        font-size:var(--hed-m-s);
    }

    /**/
    /*          HOMEPAGE*/
    /**/

    .info p, .info li {
    font-size:var(--body);
    }

    .title-bar {
        margin-top:40px;
    }
  
    #grid-wrapper {
        padding:0;
    }

    #wrapper {
        margin-top:80px;
    }

    #site-head {
        margin-bottom:80px;
    }

    #site-head h1 {
        font-size:var(--hed-l-s);
    }

    #work-section h5 {
        margin-bottom: 30px;
    }
  
    #likes-dislikes {
        margin-bottom: 80px;
    }

    .work-item {
        width:100%;
        height:188px;
        margin-bottom:30px;
    }

    .overlay-info {
        padding: 20px;
    }

    #project-images img {
        margin-bottom:12px;
    }

    #blog-list {
        margin-top:60px;
        margin-bottom:30px;
    }

    #footer {
        padding: 90px 0 80px;
    }

    /**/
    /*          BLOG PAGE*/
    /**/

    .blog-item {
        margin-bottom:90px;
    }

    .dek {
        margin-top:20px;
    }

    .dek span {
        margin-top:30px;
    }

    .blog-item span {
        width:60px;
        height:6px;
    }

    /**/
    /*          BLOG POST*/
    /**/

    #blog-post-wrapper {
        margin-bottom:30px;
    }

    #blog-post-head {
        margin-bottom:30px;
    }

    #blog-post-content {
        margin-bottom:30px;
    }

    #blog-post-sig {
        margin-bottom:60px;
    }

}



       

