:root {
    

    /*Font Families*/

    /*--hed-font: 'ssextended', 'Helvetica Neue', Arial, sans-serif;*/
    --hed-font: 'sshead', 'Helvetica Neue', Arial, sans-serif;
    --body-font: 'sshead', 'Helvetica Neue', Arial, sans-serif;
    
    /*Typography*/

    --body-line-height: 1.6;
    --hed-line-height: 1.025;
    --alt-line-height: 1.1; 
    --text-weight:400;

    --hed-xl: 5.625rem;
    --hed-l: 3.750rem;
    --hed-m: 2rem;
    --body: 1.125rem;

    --hed-xl-s: 2rem;
    --hed-l-s: 1.875rem;
    --hed-m-s: 1.125rem;

    --text-color: #fff;

}