:root {
    

    /*Font Families*/

    --hed-font: 'ssextended', 'Helvetica Neue', Arial, sans-serif;
    --alt-font: 'ssoutline', 'Helvetica Neue', Arial, sans-serif;
    --body-font: 'ssbody', 'Helvetica Neue', Arial, sans-serif;
    
    /*Typography*/

    --body-line-height: 1.6;
    --hed-line-height: 1.3;
    --alt-line-height: 1; 
    --text-weight:400;

    --hed-xl: 5.625rem;
    --hed-l: 3.750rem;
    --hed-m: 2.250rem;
    --body: 1.313rem;

    --hed-xl-s: 2.125rem;
    --hed-l-s: 2rem;
    --hed-l-s-alt: 1.438rem;
    --hed-m-s: 1.625rem;
    --body-s: 1.125rem;

    --text-color: #fff;
    --outline:;


}